*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-size: 16px;
}

body{
    display: flex;
}

.left,
.right{
    height: 100%;
}

.left{
    flex-basis: 350px;
    background-color: black;
    color: white;
    text-align: left;
}

.right{
    background-color: aqua;
    flex-basis: 100%;
}

.left ul li{
    font-size: 1.5rem;
    padding: 10px;
    border-bottom: 1px solid white;
    list-style: none;
}

.left ul li:hover{
    cursor: pointer;
    font-weight: bold;
}