*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 16px;
    font-family: Roboto;
    letter-spacing: 2px;
}

body{
    min-height: 100%;
}

body{
    display: flex;
}

.left,
.right{
    min-height: 100%;
}

.left{
    flex-basis: 18%;
    background-color: black;
    color: white;
    text-align: left;
}

.right{
    flex-basis: 100%;
}

.left ul li{
    font-size: 1.5rem;
    padding: 10px;
    border-bottom: 1px solid white;
    list-style: none;
}

.left ul li:hover{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

.box{
    margin-top: 20px;
}

header{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

article{
    min-height: 350px;
    width: 550px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    background-color: lightslategray;
    padding: 20px 50px;
    margin: 20px;
}

.article{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.element{
    background-color: none;
    background-image: url('../img/htmlimage.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.element p{
    float: right !important;
    color: white;
}

@media only screen and (max-width: 1080px){
    .left{
        flex-basis: 40%;
    }
    article {
        min-height: 450px;
        width: 650px;
        display: flex;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        background-color: lightslategray;
        padding: 20px 50px;
        margin: 20px;
    }
    .article {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    header{
        font-size: 1.2rem;
    }
    .left ul li {
        font-size: 2rem;
    }
}